
# Python For Beginners: 
 This content covers python basics for the beginners as well as who has simple understanding of any programming language beforehand.

## Priniting 
###### simple printing of different values

In [154]:
print('Hello World')
print(5)
print(True)

Hello World
5
True

 ###### datatypes of different values

In [155]:
print(type('Hello World'))
print(type(5))
print(type(True))

<class 'str'>
<class 'int'>
<class 'bool'>

### Variables and Operations

###### variables and datatypes

In [18]:
a = 5
b = 'Bananas'
c = True
d = 2.5
#variables 
print('a :',a)
print('b :',b)
print('c :',c)
print('d :',d) 

#datatypes of variables
print(type(a))
print(type(b))
print(type(c))
print(type(d))

a : 5
b : Bananase
c : True
d : 2.5
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

###### operations on variables

In [20]:
e = d + 5
print(e)
print(type(e))

7.5
<class 'float'>

In [49]:
#print(a+b)
f = str(a)
print(f+b)
print(type(f+b))

11Bananase
<class 'str'>

In [57]:
print(10%2)
print(type(10%2))
print(15%2)
print(type(15%2))
print(10/2)
print(type(10/2))
print(15/2)
print(type(15/2))

0
<class 'int'>
1
<class 'int'>
5.0
<class 'float'>
7.5
<class 'float'>

In [30]:
print(a>d)
print(a<d)
print(a==d)
print(10<=10)

True
False
False
True

##### Dynamic References

In [32]:
print('a is {} , b is {} , c is {} and d is {} '.format(a,b,c,d))

a is 5 , b is Bananase , c is True and d is 2.5

### Flow Control

##### Conditions 
if, if-else, nested if-else statements

In [34]:
# Identation, no braces 
if a==d:
    print('a is equal to d')
elif a > d:
    print('a is greater than d')
else:
    print('d is greater than a')

a is greater than d

#### Loops
while, do-while, for loops

In [36]:
#while
while d!=10.5: 
    d+=1
    print(d)

3.5
4.5
5.5
6.5
7.5
8.5
9.5
10.5

In [38]:
#emulating do-while in python
while True:
    print(a)
    a +=  1
    if(a > 10):
        break

5
6
7
8
9
10

In [41]:
#for loops
for i in range(5):
    print(i)

0
1
2
3
4

In [43]:
#for loops with interval
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [46]:
#implemetation
total = 0
for i in range(100):
    total+=50
print(total)

5000

### Functions

In [7]:
def add_numbers(a,b):
    c = a+b
    print(c)
    return 
add_numbers(2,3)

5

In [3]:
def add_numbers(a,b):
    c = a+b
    return c
sum = add_numbers(2,3)
sum

5

### Immutable and Mutable dataTypes

List, tuples, set and dict

##### List(Mutable Types)

In [88]:
cities = ['Kathmandu', 'Hetuda','Pokhara','Biratnagar']
print(cities)
print(type(cities))

['Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar']
<class 'list'>

In [89]:
#indexing from first
cities[0]

'Kathmandu'

In [90]:
#indexing from last
cities[-1]

'Biratnagar'

In [91]:
#add value in existing list
cities.append('new city') 
cities

['Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city']

In [92]:
new_cities = ['Belbari','Damak','Birtamod','Itahari']
print(new_cities)
total_cities = cities + new_cities
multiplied_cities = total_cities*2
print(total_cities)
print(multiplied_cities)

['Belbari', 'Damak', 'Birtamod', 'Itahari']
['Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city', 'Belbari', 'Damak', 'Birtamod', 'Itahari']
['Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city', 'Belbari', 'Damak', 'Birtamod', 'Itahari', 'Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city', 'Belbari', 'Damak', 'Birtamod', 'Itahari']

#### Tuples(Immutable Types)

In [93]:
fruits = {'banana','grape','pineapple'}
fruits

{'banana', 'grape', 'pineapple'}

In [94]:
new_fruits = {'apple','papaya'}
print(new_fruits)

{'papaya', 'apple'}

In [95]:
#fruits.append('apple')
# print(fruits+new_fruits)
# cannot add

In [97]:
#change list to tuple
list_items = ['hello','yello','pello']
tuple_items = tuple(list_items)
print(list_items)
print(tuple_items)

['hello', 'yello', 'pello']
('hello', 'yello', 'pello')

#### Set (Immutable Type)

In [105]:
names = ['ram','hari','sita']
print(names)
names.append('gita')
print(names)

['ram', 'hari', 'sita']
['ram', 'hari', 'sita', 'gita']

In [102]:
#set_names.append('gita')
#cannot add

In [106]:

set_names = set(names)
set_names

{'gita', 'hari', 'ram', 'sita'}

#### Dictonary (Mutable Type)
similar as map with key, value pairs in java

In [107]:
dog = {1:'jackey', 2:'tony',3:'banje'}
dog

{1: 'jackey', 2: 'tony', 3: 'banje'}

In [189]:
cat = {'name':'honey','color':'white','size':'fat'}
cat

{'color': 'white', 'name': 'honey', 'size': 'fat'}

In [190]:
print(dog.keys())
print(dog.values())
print(dog.items())
print(dog)

dict_keys([1, 2, 3])
dict_values(['jackey', 'tony', 'banje'])
dict_items([(1, 'jackey'), (2, 'tony'), (3, 'banje')])
{1: 'jackey', 2: 'tony', 3: 'banje'}

In [191]:
dog==cat

False

In [192]:
for k,v  in dog.items():
    print('key :'+ str(k) +' value :'+ str(v))
    #print(k) print(v) is also right

key :1 value :jackey
key :2 value :tony
key :3 value :banje

In [195]:
#add values
print(cat)

#update values
cat.update({'weight':'aalu'})
print(cat)
cat.update({'weight':'notaalu'})
print(cat)

#alternative
cat['legs']='four'
print(cat)

{'name': 'honey', 'color': 'white', 'size': 'fat', 'weight': 'notaalu'}
{'name': 'honey', 'color': 'white', 'size': 'fat', 'weight': 'aalu'}
{'name': 'honey', 'color': 'white', 'size': 'fat', 'weight': 'notaalu'}
{'name': 'honey', 'color': 'white', 'size': 'fat', 'weight': 'notaalu', 'legs': 'four'}

#### Slicing

In [167]:
list_cities = cities
tuple_cities = tuple(cities)
set_cities = set(cities) #cannot be sliced
dict_items=dog #dictonary cannot be sliced

print(list_cities)
print(tuple_cities)
print(set_cities)
print(dog)

['Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city']
('Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city')
{'new city', 'Biratnagar', 'Hetuda', 'Pokhara', 'Kathmandu'}
{1: 'jackey', 2: 'tony', 3: 'banje'}

In [168]:
#include all
print(list_cities[::])
print(tuple_cities[::])

['Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city']
('Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city')

In [169]:
# include from 0 to 4th index,including 0 index item but excluding the 4th index item 
print(list_cities[0:4])
print(tuple_cities[0:4])

['Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar']
('Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar')

In [182]:
print(list_cities[0::])
print(tuple_cities[0::])

['Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city']
('Kathmandu', 'Hetuda', 'Pokhara', 'Biratnagar', 'new city')

In [149]:
list_cities[1:5]

['Hetuda', 'Pokhara', 'Biratnagar', 'new city']

In [153]:
#include element with given interval 2
list_cities[0:4:2]

['Kathmandu', 'Pokhara']

In [156]:
tuple_cities[0:3]

('Kathmandu', 'Hetuda', 'Pokhara')

In [183]:
# if we want our list/arrays/tuples to be backwards 
print(list_cities[::-1])

['new city', 'Biratnagar', 'Pokhara', 'Hetuda', 'Kathmandu']

## Others

In [6]:
thisset = set(("apple", "banana", "cherry","cherry"))
print(thisset)

thistuple = tuple(("apple", "banana", "cherry","cherry"))
print(thistuple)

thislist = list(("apple", "banana", "cherry","cherry"))
print(thislist)

{'cherry', 'apple', 'banana'}
('apple', 'banana', 'cherry', 'cherry')
['apple', 'banana', 'cherry', 'cherry']

In [7]:
thisset = {"apple", "banana"}
print(thisset)

{'apple', 'banana'}

In [10]:
thistuple =('abc','xyz','123')
print(thistuple)

('abc', 'xyz', '123')

In [14]:
#set unordered and unindexed
thisset = set(("apple", "banana", "cherry"))
thisset.add("damson")
print(thisset)
thisset.remove("apple")
print(thisset)
print(len(thisset))

{'cherry', 'apple', 'damson', 'banana'}
{'cherry', 'damson', 'banana'}
3

In [19]:

thisdict = dict(apple='green',banana='yellow',canberry='blue')
print(thisdict)
thisdict['papaya']='red'
print(thisdict)
del(thisdict['papaya'])
print(thisdict)
print(len(thisdict))

{'apple': 'green', 'banana': 'yellow', 'canberry': 'blue'}
{'apple': 'green', 'banana': 'yellow', 'canberry': 'blue', 'papaya': 'red'}
{'apple': 'green', 'banana': 'yellow', 'canberry': 'blue'}
3

In [32]:
fruits = ['apple','banana','papaya']
for i in fruits:
    if i=='banana':
        break
    print(i)

apple